# Configurações da aplicação
NEXT_PUBLIC_API_URL=https://api.pokemontcg.io/v2
NEXT_PUBLIC_APP_NAME=Catálogo Pokémon TCG
NEXT_PUBLIC_APP_VERSION=1.0.0

# Configurações de cache
NEXT_PUBLIC_CACHE_TIME=600000
NEXT_PUBLIC_STALE_TIME=300000

# Configurações de paginação
NEXT_PUBLIC_DEFAULT_PAGE_SIZE=20
NEXT_PUBLIC_MAX_PAGE_SIZE=250
